doctype html
html(ng-app='habitrpg', ng-controller='RootCtrl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    title=env.t('titleIndex')
    link(rel='shortcut icon', sizes="32x32", href='/favicon.ico')
    link(rel='shortcut icon', sizes="192x192", href='/favicon_192x192.png')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};
    != env.getManifestFiles("static")
    
    link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')

    link(rel='stylesheet', type='text/css', href='/admin/admin.css')
  body
    .container-fluid
    
        .row.bg-primary.text-center
            h1 Administration
            
        .row
            .col-md-3(ng-controller='AuthCtrl')
                h3=env.t('register')
                form#registrationForm(ng-submit='register()', name='registrationForm')
                    .form-group
                      input.form-control(type='text', ng-model='registerVals.username', placeholder=env.t('username'), spellcheck='false', required)
                    .form-group
                      input.form-control(type='email', ng-model='registerVals.email', placeholder=env.t('email'), required)
                    .form-group
                      input.form-control(type='password', ng-model='registerVals.password', placeholder=env.t('password'), required)
                    .form-group
                      input.form-control(type='password', ng-model='registerVals.confirmPassword', placeholder=env.t('passConfirm'), required)
                    .form-group
                      input.btn.btn-block.btn-lg.btn-primary(type='submit', ng-disabled='registrationForm.$invalid || registrationInProgress', value=env.t('register'))
                              
            .col-md-3(ng-controller='FooterCtrl')
                h3 Debug
                .btn-group-vertical
                    a.btn.btn-default(ng-click='setHealthLow()') Health = 1
                    a.btn.btn-default(ng-click='addMissedDay(1)') +1 Missed Day
                    a.btn.btn-default(ng-click='addMissedDay(2)') +2 Missed Days
                    a.btn.btn-default(ng-click='addTenGems()') +10 Gems
                    a.btn.btn-default(ng-click='addHourglass()') +1 Mystic Hourglass
                    a.btn.btn-default(ng-click='addGold()') +500 Gold
                    a.btn.btn-default(ng-click='addMana()') +500 Mana
                    a.btn.btn-default(ng-click='addLevelsAndGold()') +10000 Exp +10000 Gold +10000 Mana
                    a.btn.btn-default(ng-click='addOneLevel()') +1 Level
                    a.btn.btn-default(ng-click='addBossQuestProgressUp()') +1000 Boss Quest Progress Up