doctype html
html(ng-app='habitrpg', ng-controller='RootCtrl')
  head
    meta(charset='utf-8')
    link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    title Habitica | Your Life the Role Playing Game
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(name='geo.placename', content='')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    meta(property='og:url', content='https://habitica.com/static/front')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Habitica: Your Life the Role Playing Game')
    meta(property='og:description', content='Habitica is a free habit building and productivity app that treats your real life like a game. With in-game rewards and punishments to motivate you and a strong social network to inspire you, Habitica can help you achieve your goals to become healthy, hard-working, and happy.')
    meta(property='og:site_name', content='Habitica')
    meta(property='og:image', content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo_300x300.png')
    meta(property='fb:app_id', content='128307497299777')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@habitica')
    meta(name='twitter:title' content='Habitica: Your Life the Role Playing Game')
    meta(name='twitter:description' content='Habitica is a free habit-building and productivity app that treats your real life like a game! Motivate yourself with in-game rewards and social encouragement.')
    meta(name='twitter:image' content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo.png')
    meta(name='apple-itunes-app' content='app-id=994882113')
    link(rel='canonical', href='', type='text/html')
    link(rel='shortcut icon', sizes="32x32", href='/favicon.ico')
    link(rel='shortcut icon', sizes="192x192", href='/favicon_192x192.png')

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};
    != env.getManifestFiles("tmp_static_front")

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')

    link(rel='stylesheet', type='text/css', href='/login.css')
  body(ng-controller='AuthCtrl')
    .wow.fadeIn.container-fluid.login-page
        .login-image.hidden-xs.hidden-sm.col-md-9
        .login-main.col-xs-12.col-sm-12.col-md-3
            .text-center
                img(src='/front/img/LogoCartes.png')
            h3.text-left.font-size-24=env.t('login')
            form#loginForm(ng-submit='auth()', method='POST', name='loginForm')
                .form-group
                    input.form-control(type='text', ng-model='loginUsername', placeholder=env.t('usernameOrEmail'), name='username', spellcheck='false', required)
                .form-group
                    input.form-control(type='password', ng-model='loginPassword', placeholder=env.t('password'), name='password', required)
                .form-group
                    input.btn.btn-block.btn-lg.btn-primary(type='submit', ng-disabled='loginForm.$invalid', value=env.t('login'))
            .text-center.login-logo-cap
                img(src='/front/img/capgemini-logo.jpg')