doctype html
html(ng-app='habitrpg', ng-controller='RootCtrl')
  head
    meta(charset='utf-8')
    link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    title=env.t('titleIndex')
    
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    
    link(rel='shortcut icon', sizes="32x32", href='/favicon.ico')
    link(rel='shortcut icon', sizes="192x192", href='/favicon_192x192.png')

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};
    != env.getManifestFiles("tmp_static_front")

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')

    link(rel='stylesheet', type='text/css', href='/front/login.css')
  body(ng-controller='AuthCtrl')
    .wow.fadeIn.container-fluid.login-page
        .login-image.hidden-xs.hidden-sm.col-md-9
        .login-main.col-xs-12.col-sm-12.col-md-3
            .text-center
                img(src='/front/img/LogoCartes.png')
            h3.text-left.font-size-24=env.t('login')
            form#loginForm(ng-submit='auth()', method='POST', name='loginForm')
                .form-group
                    input.form-control(type='text', ng-model='loginUsername', placeholder=env.t('usernameOrEmail'), name='username', spellcheck='false', required)
                .form-group
                    input.form-control(type='password', ng-model='loginPassword', placeholder=env.t('password'), name='password', required)
                .form-group
                    input.btn.btn-block.btn-lg.btn-primary(type='submit', ng-disabled='loginForm.$invalid', value=env.t('login'))
            .text-center.login-logo-cap
                img(src='/front/img/capgemini-logo.jpg')